#projects {
  height: 100vh;
  padding-top: 10%;
  .example-card {
    max-width: 400px;
  }

  .card {
    .card-text {
      text-align: justify;
    }

    .card-footer {
      text-align: center;
    }
  }
  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
}
