<div class="container">
  <input
    type="checkbox"
    id="check"
    #menu
    (click)="sideBarToggle($event)"
    [checked]="isChecked"
  />
  <label for="check">
    <i class="fa fa-bars" id="button"></i>
    <i class="fa fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
    <div class="profile-image-container">
      <img src="assets/images/profilePic.png" />
    </div>
    <header (click)="profileItemClicked('home')">DIYA LAL AMMIANICKAL</header>
    <ul (click)="profileItemClicked($event)">
      <li>
        <a><i class="fa fa-address-card-o"></i>About</a>
      </li>
      <li>
        <a><i class="fa fa-desktop"></i>Experience</a>
      </li>
      <li>
        <a><i class="fa fa-graduation-cap"></i>Academics</a>
      </li>
      <li>
        <a><i class="fa fa-laptop"></i>Skills</a>
      </li>
      <li>
        <a><i class="fa fa-list"></i>Projects</a>
      </li>
      <li>
        <a><i class="fa fa-star"></i>Achievements</a>
      </li>
      <li>
        <a><i class="fa fa-envelope"></i>Contact</a>
      </li>
    </ul>
  </div>
  <section></section>
</div>
