<input type="checkbox" id="check">
<label for="check">
    <i class="fa fa-bars" id="button"></i>
    <i class = "fa fa-times" id = "cancel"></i>
</label>
<div class="sidebar">
    <header>Menu</header>
    <ul>
        <li><a routerLink = "/about"><i class="fas fa-address-card"></i>About</a></li>
        <li><a routerLink = "/experience"><i class="fas fa-desktop"></i>Experience</a></li>
        <li><a routerLink = "/academics"><i class="fas fa-graduation-cap"></i>Academics</a></li>
        <li><a routerLink = "/skills"><i class="fas fa-laptop"></i>Skills</a></li>
        <li><a routerLink = "/achievements"><i class="fas fa-star"></i>Achievements</a></li>
        <li><a routerLink = "/interests"><i class="fas fa-heart"></i>Interests</a></li>
        <li><a  routerLink = "/contact"><i class="fa fa-envelope"></i>Contact</a></li>
    </ul>
</div>
<section></section>
